<h1>Combo Product</h1>

<?php
$combos = $this->getComboById();

foreach ($combos as $combo) { ?>
    <div>
        <h2 style="display: block;"><?php echo $combo->getComboName(); ?></h2>
        <div class="category-products">
            <ul class="products-grid products-grid--max-4-col first last odd">
                <?php
                $products = $combo->getProducts();
                $productIds = array();
                foreach ($products as $product) {
                    $productIds[] = $product->getId();
                    /** @var Mage_Catalog_Model_Product $product */
                    ?>
                    <li class="item last">
                        <a href="<?php echo $product->getProductUrl(); ?>"
                           title="<?php echo $product->getName(); ?>" class="product-image">
                            <img id="<?php echo $product->getSku(); ?>"
                                 src="<?php echo $product->getSmallImageUrl(); ?>"
                                 alt="<?php echo $product->getName(); ?>">
                        </a>
                        <div class="product-info" style="padding-bottom: 88px; min-height: 192px;">
                            <h2 class="product-name">
                                <a href="<?php echo $product->getProductUrl(); ?>"
                                   title="<?php echo $product->getName(); ?>"><?php echo $product->getName(); ?></a>
                            </h2>

                            <div class="price-box">
                                <span class="regular-price" id="product-price-<?php echo $product->getSku(); ?>">
                                    <span class="price"><?php echo Mage::helper('core')->currency($product->getFinalPrice(),
                                            true, false); ?></span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <?php

                }
                ?>
            </ul>
<!--            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>-->
        </div>
<!--        <div class="add-to-cart-buttons">-->
<!--            <button type="button" title="Add to Cart" class="button" style="display: block;"-->
<!--                    onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button>-->
<!--        </div>-->
        <a href="/checkout/cart/add?product=<?php echo $product->getId(); ?>&qty=1&related_product=<?php echo implode(",",$productIds) ?>&form_key=<?php echo Mage::getSingleton('core/session')->getFormKey();?>">Add to cart</a>
    </div>
    <?php
}
?>


